.List {
    padding: 20px;
    display: flex;
    flex-direction: column;
    .addText {
        align-self: center;
        margin: 40px;
        font-size: 2em;
        color: #7068f8;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    .listItem {
        display: flex;
        flex-direction: row;
        input {
            padding: 10px;
            border: 0px;
            border-bottom: 1px solid #7068f8;
            flex: 1;
            margin: 0px 10px;
        }
        button {
            border: 0;
            background-color: transparent;
            color: #7068f8;
            cursor: pointer;
        }
        .checked {
            text-decoration: line-through;
        }
    }
}